:80, 443 {
    tls ${EMAIL_HOST}  # Certificado gerado para o subdomínio.
    reverse_proxy ${APP_HOST} {
        header_up Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        lb_policy round_robin
    }
    log
}
